*{
  margin: 0;
  padding: 0;
  box-sizing: border;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  

}
body{
  background-color: black;

}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100%;
  text-decoration:underline ;
  white-space: nowrap;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
 background-color: rgb(96, 99, 103);

}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}